<div id='kindle'>
  <div class="container-fluid py-4">
    <h2 *ngIf="titleState" class="text-center py-2 border-bottom" style="">{{title | uppercase}}</h2>
    <div *ngIf="sortFilterState">
      <div class="container-fluid mt-3 mb-5 d-flex">
        <div class="dropdown mr-auto">
          <button class="btn bg-white text-dark m-2 dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="material-icons mr-2">sort</span>
            Sort
          </button>
          <div class="dropdown-menu" aria-labelledby="filterDropdown">
            <span class="dropdown-item" (click)="Sort('')">none</span>
            <span class="dropdown-item" (click)="Sort('ascDate')">Recent</span>
            <span class="dropdown-item" (click)="Sort('descDate')">Old</span>
            <span class="dropdown-item" (click)="Sort('descPrice')">More expensive</span>
            <span class="dropdown-item" (click)="Sort('ascPrice')">Less expensive</span>
          </div>
        </div>
        <button class="btn bg-white text-dark m-2" type="button" data-toggle="modal" data-target="#filterModal">
          <span class="material-icons mr-2">filter_list</span>
          Filter
        </button>
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <form #filterForm="ngForm" (ngSubmit)="Filter()" class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Search Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form name="filterForm">
                  <div class="form-group">
                    <label for="rechercheBreve">Keywords</label>
                    <input #keywords="ngModel" [(ngModel)]="search" type="text" class="form-control" id="idrechercheBreve" name="rechercheBreve" placeholder="Enter keywords">
                  </div>
                  <div class="form-group">
                    <label for="dateAjout">Date Added</label>
                    <select #dateAdded="ngModel" [(ngModel)]="dateChoice" class="form-control" id="idDateAdded" name="DateAdded">
                      <option *ngFor="let dateData of dates" [value]="dateData.value">{{dateData.name | uppercase}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="nombrePage">Number of pages</label>
                    <div class="form-check" *ngFor="let sizeContentData of sizeContents; index as i">
                      <input #sizeContent="ngModel" [(ngModel)]="sizeContents[i].checked" class="form-check-input" type="checkbox" name="sizeContent" id="sizeContent-{{sizeContentData.name}}">
                      <label class="form-check-label" for="sizeContent-{{sizeContentData.name + '-' + i}}">
                        {{sizeContentData.name | uppercase}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="tag">Tag</label><br/>
                    <div class="form-check" *ngFor="let tagData of tags; index as i">
                      <input #tag="ngModel" [(ngModel)]="tags[i].checked" class="form-check-input" type="checkbox" name="tag" id="tag-{{tagData.name}}">
                      <label class="form-check-label" for="tag-{{tagData.name + '-' + i}}">
                        {{tagData.name | uppercase}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="language">Language</label><br/>
                    <div class="form-check" *ngFor="let languageData of languages; index as i">
                      <input #language="ngModel" [(ngModel)]="languages[i].checked" class="form-check-input" type="checkbox" name="language" id="language-{{languageData.name}}">
                      <label class="form-check-label" for="language-{{languageData.name + '-' + i}}">
                        {{languageData.name | uppercase}}
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Filter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row ml-2 mr-2 ml-sm-5 mr-sm-5 text-center" *ngIf="elementExist">
      <a *ngFor="let book of elements" [routerLink]="['/detail-story', book.slug]" class="col-12 col-sm-6 col-md-3 col-lg-2 py-2 pl-1 pr-1 pl-sm-3 pr-sm-3">
        <figure class="figure">
          <img style="background-size: 100%; background-image: url('assets/medias/system/mascot_logo.png')" src="assets/medias/kindles/{{book.logo}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption text-left text-dark">
            <h5>{{book.title}}</h5>
            <span class="badge badge-pill mt-1 bg-green text-light" *ngIf="book.freeState">free</span>
            <span class="badge badge-pill mt-1 bg-green text-light" *ngIf="!book.freeState">${{book.price}}</span>
          </figcaption>
        </figure>
      </a>
    </div>
    <h1 class="text-center" *ngIf="!elementExist">
      No result found
    </h1>
    <div *ngIf="paginationState">
      <div class="text-center border-top" *ngIf="elementExist">
        <nav aria-label="..." class="ml-auto mr-auto">
          <ul class="pagination bg-transparent my-2 flex justify-content-center">
            <li *ngIf="DisabledPreviousNextState(true)" class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li *ngIf="!DisabledPreviousNextState(true)" (click)="ChangePage('prec')" class="page-item">
              <span class="page-link">Previous</span>
            </li>
            <li *ngFor="let item of GeneratePages(); index as i" class="page-item">
              <span *ngIf="ActivePage(i+1)" class="page-link active">{{i+1}}</span>
              <span *ngIf="!ActivePage(i+1)" (click)="ChangePage(i+1)" class="page-link">{{i+1}}</span>
            </li>
            <li *ngIf="DisabledPreviousNextState(false)" class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
            <li *ngIf="!DisabledPreviousNextState(false)" (click)="ChangePage('suiv')" class="page-item">
              <span class="page-link">Next</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>