$theme-colors: (
    'amber': $ambers,
    'blue': $blues,
    'blue-grey': $blue-greys,
    'brown': $browns,
    'cyan': $cyans,
    'deep-orange': $deep-oranges,
    'deep-purple': $deep-purples,
    'green': $greens,
    'grey': $greys,
    'indigo': $indigos,
    'light-blue': $light-blues,
    'light-green': $light-greens,
    'lime': $limes,
    'orange': $oranges,
    'pink': $pinks,
    'purple': $purples,
    'red': $reds,
    'teal': $teals,
    'yellow': $yellows
);
$theme-colors-2: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "info": $info,
    "success": $success,
    "warning": $warning,
    "dark": $dark,
    "light": $light
);
$theme-colors-3: (
    'agricrowns': #a0ce4e,
    "black": #000,
    "white": #fff
);


@each $color-name, $color-part in $theme-colors{
    @each $part-name, $part-value in $color-part{
        $true-color : $color-name;
        @if($part-name==500){
        } @else {
            $true-color : $true-color + '-' + $part-name;
        }
        #{".bg-" + $true-color} {
            background-color: #{$part-value};
        }
        #{".text-" + $true-color} {
            color: #{$part-value};
        }
    }
}
@each $color-name, $color-part in $theme-colors-2{
    @each $part-name, $part-value in $color-part{
        $true-color : $color-name;
        @if($part-name=="color"){
        } @else {
            $true-color : $true-color + '-' + $part-name;
        }
        #{".bg-" + $true-color} {
            background-color: #{$part-value};
        }
        #{".text-" + $true-color} {
            color: #{$part-value};
        }
    }
}
@each $name, $value in $theme-colors-3{
    #{".bg-" + $name} {
        background-color: #{$value};
    }
    #{".text-" + $name} {
        color: #{$value};
    }
}