<div id="edenin-loader" class="position-absolute bg-white" style="z-index: 10; left: 0; top: 0;width: 100%; height: 100%;">
  <div class="h-100 w-100 d-flex flex-column">
    <img src="assets/medias/system/mascot_logo.png" style="height: 80px; width: 80px;" class="ml-auto mr-auto mt-auto"/>
    <h3 class="text-center py-3">
      Loading page, please wait...
    </h3>
    <img src="assets/medias/system/spinners/three-dots.svg" style="height: 80px; width: 80px;" class="ml-auto mr-auto mb-auto"/>
  </div>
</div>
<div id="header" class="pl-3 pr-3 pl-md-0 pr-md-0 bg-blue-grey-700 shadow-1 d-flex flex-column">
  <div class="position-relative d-flex flex-column justify-content-center text-center">
    <div class="nav-div-img-fond" class="d-flex justify-content-center">
      <img src="assets/medias/system/edenin_banner_desktop_00.jpg" class="w-100 h-100" style="left: 0; top: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;"/>
    </div>
    <a routerLink="/home">
      <img src="assets/medias/system/mascot_logo.png" class="home-nav-div-img-logo shadow-1 ml-auto mr-auto rounded-circle bg-white p-1 position-relative"/>
    </a>
    <button class="navbar-toggler d-block d-md-none ml-auto mr-auto mb-2 text-light" data-toggle="collapse" href="#navbarCollapse1" role="button" aria-expanded="false" aria-controls="navbarCollapse1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse1">
      <ul class="navbar-nav text-light flex flex-column d-inline-block d-md-none">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stories" routerLinkActive="active">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/printables" routerLinkActive="active">Printables</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav text-light d-none d-md-flex">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          <span class="material-icons mr-2">home</span>
          Homepage
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stories" routerLinkActive="active">
          <span class="material-icons mr-2">menu_book</span>
          Stories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/printables" routerLinkActive="active">
          <span class="material-icons mr-2">local_movies</span>
          Printables
        </a>
      </li>
    </ul>
    <div class="d-inline-block d-md-none">
      <span *ngIf="TestUrl('/', 'fisrt')" class="badge badge-pill bg-green text-light py-2 pl-2 pr-2 pl-sm-5 pr-sm-5 position-relative shadow-1" style="top: 15px;">
        <span class="material-icons mr-2">home</span>
        Home
      </span>
      <span *ngIf="TestUrl('/stories', true)" class="badge badge-pill bg-green text-light py-2 pl-2 pr-2 pl-sm-5 pr-sm-5 position-relative shadow-1" style="top: 15px;">
        <span class="material-icons mr-2">menu_book</span>
        Stories
      </span>
      <span *ngIf="TestUrl('/printables', true)" class="badge badge-pill bg-green text-light py-2 pl-2 pr-2 pl-sm-5 pr-sm-5 position-relative shadow-1" style="top: 15px;">
        <span class="material-icons mr-2">local_movies</span>
        Printables
      </span>
      <span *ngIf="TestUrl('/detail-story', false)" class="badge badge-pill bg-green text-light py-2 pl-2 pr-2 pl-sm-5 pr-sm-5 position-relative shadow-1" style="top: 15px;">
        Detail Story
      </span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-1 bg-blue-grey-700 text-light d-flex flex-column flex-md-row justify-content-between">
        <font class="p-2 order-1 order-md-0">© 2020 Copyright</font>
        <a routerLink='/' class="text-light p-2 order-0 order-md-1 bd-highlight"> Edenin.tk</a>
    </div>
</footer>