.home-bundle-figure figcaption .home-bundle-figure-download-button{
    display: none;
}
.home-bundle-figure:hover figcaption .home-bundle-figure-download-button{
    display: block;
}
@media (min-width: 0px) {
    .home-nav-div-img-fond{
     height: 40px;
    }
    .home-nav-div-img-logo{
        width: 30px;
        height: 30px;
        bottom: 15px;
    }
    .db-img-detail{
        height: 100px;
    }
}
@media (min-width: 200px) {
    .home-nav-div-img-fond{
        height: 60px;
    }
}
@media (min-width: 250px) {
    .home-nav-div-img-fond{
        height: 80px;
    }
    .home-nav-div-img-logo{
        width: 40px;
        height: 40px;
        bottom: 25px;
    }
}
@media (min-width: 500px) {
    .home-nav-div-img-fond{
        height: 150px;
    }
    .home-nav-div-img-logo{
        width: 65px;
        height: 65px;
    }
    .db-img-detail{
        height: 200px;
    }
}