<div id='detail-kindle'>
  <div class="container-fluid py-4 bg-white">
    <div class="d-flex flex-column flex-md-row">
      <img style="background-size: 100%; background-image: url('assets/medias/system/mascot_logo.png')" src="assets/medias/kindles/{{logo}}" class="w-50 db-img-detail img-fluid mr-0 mr-sm-3"/>
      <div class="flex-fill mt-3 mt-md-0">
        <div class="row">
          <h2 id="nom-livre" class="col-12">{{title}}</h2>
          <h4 class="col-12">
            de
            <strong id="nom-auteur-livre" class="text-green">{{authors}}</strong>
          </h4>
          <h5 *ngIf="freeState" class="col-12 text-green">
            <strong>Free</strong>
          </h5>
          <h5 *ngIf="!freeState" class="col-12 text-green">
            <strong>${{price}}</strong>
          </h5>
          <div class="col-12 border-bottom my-2"></div>
          <h5 class="col-12">
            Tag(s)
          </h5>
          <h5 id="tags" class="col-12">
            <a
              *ngFor="let tagData of tags"
              [routerLink]="['/stories']"
              [queryParams]="{tag: tagData}"
              queryParamsHandling="merge"
              class="text-green"
            >
              <span class="badge badge-pill bg-white text-green border border-dark py-1 pl-2 pr-2 m-1">
                <strong>{{tagData}}</strong>
              </span>
            </a>
          </h5>
          <h5 class="col-12">
            Avalaible format(s)
          </h5>
          <h5 id="formats" class="col-12">
            <a
              [routerLink]="['/stories']"
              [queryParams]="{audioState: false}"
              queryParamsHandling="merge"
              class="text-green"
            >
              <span class="badge badge-pill bg-white text-green border border-dark py-1 pl-2 pr-2 m-1">
                <span class="material-icons text-dark mr-2">menu_book</span>
                Livre
              </span>
            </a>
            <a
              *ngIf="audioState"
              [routerLink]="['/stories']"
              [queryParams]="{audioState: true}"
              queryParamsHandling="merge"
              class="text-green"
            >
              <span class="badge badge-pill bg-white text-green border border-dark py-1 pl-2 pr-2 m-1">
                <span class="material-icons text-dark mr-2">audiotrack</span>
                Audio
              </span>
            </a>
          </h5>
          <h5 class="col-12">
            Language(s)
          </h5>
          <h5 class="col-12">
            <a
              *ngFor="let language of languages"
              [routerLink]="['/stories']"
              [queryParams]="{language: language}"
              queryParamsHandling="merge"
              class="text-green"
            >
              <span class="badge badge-pill bg-white text-green border border-dark py-1 pl-2 pr-2 m-1">
                <span class="material-icons text-dark mr-2">language</span>
                <strong>{{language}}</strong>
              </span>
            </a>
          </h5>
          <div class="col-12 mt-4">
            <button *ngIf="!freeState" class="btn bg-green text-light py-2 pl-1 pr-1 pl-md-3 pr-md-3 m-2 float-left" type="button" data-toggle="modal" data-target="#payementModal">
              <span class="material-icons mr-2">shopping_cart</span>
              <font class="d-none d-sm-inline-block">
                Buy
              </font>
            </button>
            <button class="btn bg-blue text-light py-2 pl-1 pr-1 pl-md-3 pr-md-3 m-2 float-left" type="button" data-toggle="modal" data-target="#downloadModal">
              <span class="material-icons mr-2">save_alt</span>
              <font class="d-none d-sm-inline-block">
                Download
              </font>
            </button>
            <button class="btn bg-orange text-light py-2 pl-1 pr-1 pl-md-3 pr-md-3 m-2 float-left">
              <span class="material-icons mr-2">chrome_reader_mode</span>
              <font class="d-none d-sm-inline-block">
                Read
              </font>
            </button>
          </div>
          <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="downloadModalLabel">Formulaire d'identification</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form name="downloadForm">
                    <div class="form-group">
                      <label for="rechercheBreve">Email de destination</label>
                      <input type="email" class="form-control" id="idrechercheBreve" name="rechercheBreve" placeholder="Entrez L'email qui recevra le PDF">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send Kindle</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="payementModal" tabindex="-1" role="dialog" aria-labelledby="payementModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="payementModalLabel">Paiement du livre</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form name="payementForm"></form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Paiement</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      {{description}}
    </div>
  </div>
</div>