<div id='home'>
  <h2 *ngIf="titleState" class="text-center py-2 border-bottom" style="">{{title | uppercase}}</h2>
  <div class="container-fluid pt-4">
    <h3 class="text-center py-2">Read on Multiple Device</h3>
  </div>
  <app-kindle-partial
    [urlRedirect]="kindleUrlRedirect"
    [titleState]="kindleTitleState"
    [paginationState]="kindlePaginationState"
    [sortFilterState]="kindleSortFilterState"
    [nbreByPage]="kindleNbreByPage"
    [typeSort]="kindleTypeSort"
  ></app-kindle-partial>
  <div class="container-fluid">
    <div class="text-center">
      <a routerLink="/stories" class="pr-3 pl-3 py-1 my-3 badge badge-pill text-light bg-grey">
        Learn More Stories
        <span class="material-icons">play_arrow</span>
      </a>
    </div>
    <h3 class="text-center py-2">Have fun trying the latest activity</h3>
  </div>
  <app-bundle-partial
    [urlRedirect]="bundleUrlRedirect"
    [titleState]="bundleTitleState"
    [paginationState]="bundlePaginationState"
    [sortFilterState]="bundleSortFilterState"
    [nbreByPage]="bundleNbreByPage"
    [typeSort]="bundleTypeSort"
  ></app-bundle-partial>
  <div class="container-fluid pb-4">
    <div class="text-center">
      <a routerLink="/printables" class="pr-3 pl-3 py-1 my-3 badge badge-pill text-light bg-grey">
        Learn More Printables
        <span class="material-icons">play_arrow</span>
      </a>
    </div>
  </div>
</div>